<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Persistencia.Properties.Settings.sek_debug_2025ConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=sek_debug_2025;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Persistencia.Properties.Settings.aplicacao_2025ConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=aplicacao_2025;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>