USE [master]
GO
/****** Object:  Database [aplicacao_2025]    Script Date: 09/12/2025 09:43:26 ******/
CREATE DATABASE [aplicacao_2025]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [aplicacao_2025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [aplicacao_2025]
GO
/****** Object:  Table [dbo].[acao]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuarioid] [uniqueidentifier] NOT NULL,
	[data] [datetime] NOT NULL,
	[descricao] [varchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.acao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[configuracao]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[configuracao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[valor] [varchar](480) NOT NULL,
	[campo] [varchar](480) NOT NULL,
 CONSTRAINT [PK_dbo.configuracao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dicionario]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dicionario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[palavra] [varchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.Dicionario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documento]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[arquivo] [varchar](255) NOT NULL,
	[data] [datetime] NOT NULL,
	[statusid] [int] NOT NULL,
	[usuarioid] [uniqueidentifier] NOT NULL,
	[pagina] [int] NOT NULL,
	[hash] [varchar](255) NULL,
	[ativo] [bit] NOT NULL,
	[conteudo] [varchar](max) NOT NULL,
	[pastaid] [int] NOT NULL,
	[chave] [varchar](5) NOT NULL,
	[processoid] [int] NOT NULL,
	[ordProc] [int] NOT NULL,
	[indexado] [bit] NOT NULL,
	[observacoes] [varchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.documento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estrutura]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estrutura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[estruturasuperiorid] [int] NOT NULL,
	[nome] [varchar](80) NOT NULL,
 CONSTRAINT [PK_dbo.estrutura] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evento]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[processoid] [int] NOT NULL,
	[data] [datetime] NOT NULL,
	[descricao] [varchar](max) NOT NULL,
	[usuarioid] [uniqueidentifier] NOT NULL,
	[documentoid] [int] NOT NULL,
	[pastaid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.evento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grupo]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grupo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](80) NOT NULL,
	[grupopaiid] [int] NOT NULL,
	[observacoes] [varchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.grupo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoProcesso]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoProcesso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[grupoID] [int] NOT NULL,
	[processoid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GrupoProcesso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoUsuario]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuarioID] [uniqueidentifier] NOT NULL,
	[grupoID] [int] NOT NULL,
	[observacoes] [varchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.GrupoUsuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historico]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historico](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[documentoid] [int] NOT NULL,
	[data] [datetime] NOT NULL,
	[descricao] [varchar](255) NOT NULL,
	[usuarioid] [uniqueidentifier] NOT NULL,
	[statusid] [int] NOT NULL,
	[pastaid] [int] NOT NULL,
	[estruturaid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.historico] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notificacao]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notificacao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[remetenteid] [uniqueidentifier] NOT NULL,
	[destinatarioid] [uniqueidentifier] NOT NULL,
	[pendente] [bit] NOT NULL,
	[data] [datetime] NOT NULL,
	[processoid] [int] NOT NULL,
	[mensagem] [varchar](max) NOT NULL,
	[realizado] [bit] NOT NULL,
	[visto] [bit] NOT NULL,
	[observacoes] [varchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.notificacao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ocorrencia]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ocorrencia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[documentoid] [int] NOT NULL,
	[palavraid] [int] NOT NULL,
	[ocorrencia] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Ocorrencia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagina]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagina](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [int] NOT NULL,
	[documentoid] [int] NOT NULL,
	[conteudo] [varchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.pagina] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pasta]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pasta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pastasuperiorid] [int] NOT NULL,
	[nome] [varchar](80) NOT NULL,
	[usuarioid] [uniqueidentifier] NOT NULL,
	[privado] [bit] NOT NULL,
	[observacoes] [varchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.pasta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[processo]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[processo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](255) NOT NULL,
	[descricao] [varchar](max) NOT NULL,
	[data] [datetime] NOT NULL,
	[ativo] [bit] NOT NULL,
	[usuarioid] [uniqueidentifier] NOT NULL,
	[estruturaid] [int] NOT NULL,
	[arquivado] [bit] NOT NULL,
	[chave] [varchar](5) NOT NULL,
	[observacoes] [varchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.processo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessoUsuario]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessoUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuarioID] [uniqueidentifier] NOT NULL,
	[processoid] [int] NOT NULL,
	[ativo] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProcessoUsuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registro]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[arquivo] [varchar](255) NOT NULL,
	[qtdPagina] [int] NOT NULL,
	[hash] [varchar](255) NULL,
	[ativo] [bit] NOT NULL,
	[chave] [varchar](5) NOT NULL,
	[link] [varchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.registro] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 09/12/2025 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[documento]  WITH CHECK ADD  CONSTRAINT [status_documento] FOREIGN KEY([statusid])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[documento] CHECK CONSTRAINT [status_documento]
GO
ALTER TABLE [dbo].[evento]  WITH CHECK ADD  CONSTRAINT [processo_evento] FOREIGN KEY([processoid])
REFERENCES [dbo].[processo] ([id])
GO
ALTER TABLE [dbo].[evento] CHECK CONSTRAINT [processo_evento]
GO
ALTER TABLE [dbo].[GrupoProcesso]  WITH CHECK ADD  CONSTRAINT [grupo_GrupoProcesso] FOREIGN KEY([grupoID])
REFERENCES [dbo].[grupo] ([id])
GO
ALTER TABLE [dbo].[GrupoProcesso] CHECK CONSTRAINT [grupo_GrupoProcesso]
GO
ALTER TABLE [dbo].[GrupoUsuario]  WITH CHECK ADD  CONSTRAINT [grupo_GrupoUsuario] FOREIGN KEY([grupoID])
REFERENCES [dbo].[grupo] ([id])
GO
ALTER TABLE [dbo].[GrupoUsuario] CHECK CONSTRAINT [grupo_GrupoUsuario]
GO
ALTER TABLE [dbo].[historico]  WITH CHECK ADD  CONSTRAINT [documento_historico] FOREIGN KEY([documentoid])
REFERENCES [dbo].[documento] ([id])
GO
ALTER TABLE [dbo].[historico] CHECK CONSTRAINT [documento_historico]
GO
ALTER TABLE [dbo].[Ocorrencia]  WITH CHECK ADD  CONSTRAINT [Dicionario_Ocorrencia] FOREIGN KEY([palavraid])
REFERENCES [dbo].[Dicionario] ([id])
GO
ALTER TABLE [dbo].[Ocorrencia] CHECK CONSTRAINT [Dicionario_Ocorrencia]
GO
ALTER TABLE [dbo].[Ocorrencia]  WITH CHECK ADD  CONSTRAINT [registro_Ocorrencia] FOREIGN KEY([documentoid])
REFERENCES [dbo].[registro] ([id])
GO
ALTER TABLE [dbo].[Ocorrencia] CHECK CONSTRAINT [registro_Ocorrencia]
GO
ALTER TABLE [dbo].[pagina]  WITH CHECK ADD  CONSTRAINT [documento_pagina] FOREIGN KEY([documentoid])
REFERENCES [dbo].[documento] ([id])
GO
ALTER TABLE [dbo].[pagina] CHECK CONSTRAINT [documento_pagina]
GO
ALTER TABLE [dbo].[processo]  WITH CHECK ADD  CONSTRAINT [estrutura_processo] FOREIGN KEY([estruturaid])
REFERENCES [dbo].[estrutura] ([id])
GO
ALTER TABLE [dbo].[processo] CHECK CONSTRAINT [estrutura_processo]
GO
USE [master]
GO
